<%-include('includes/head.ejs')%>
</head>
<body>
  <%-include('includes/navigation.ejs')%>
        
  <!-- <section class="portfolio section-padding " id="Recommendation">
    <div class="container mt-md-5">

            <div class="col-md-12">
                <div class="section-header text-center pb-2">
                   	
                    
                </div>
            </div>
    </div>
</section> -->
 <section id="Recommendation">
    <div class="container ">
        <h2 style="margin-top: 2em;" class="d-flex justify-content-center">Crop Information</h2>
        <p>
            गेहूं एक अनाज का अनाज है जो दुनिया के कई हिस्सों में उगाया जाता है। यह एक कठोर फसल है जिसे विभिन्न प्रकार की जलवायु में उगाया जा सकता है, लेकिन इष्टतम विकास के लिए इसकी कुछ विशिष्ट आवश्यकताएं होती हैं। गेहूँ उगाते समय विचार करने के लिए यहाँ कुछ प्रमुख कारक दिए गए हैं:

मिट्टी: 6.0 और 7.0 के बीच पीएच के साथ अच्छी तरह से जल निकासी, उपजाऊ मिट्टी में गेहूं सबसे अच्छा बढ़ता है। यह कुछ हद तक क्षारीय या अम्लीय मिट्टी को सहन कर सकता है, लेकिन यह उतना अच्छा प्रदर्शन नहीं करेगा।

पानी: गेहूं को नियमित रूप से पानी देने की आवश्यकता होती है, विशेष रूप से विकास के वनस्पति और फूलों के चरणों के दौरान। हालांकि, अत्यधिक पानी देने से बचना महत्वपूर्ण है, क्योंकि इससे जड़ सड़न और अन्य समस्याएं हो सकती हैं।

तापमान: गेहूँ को तापमान की एक विस्तृत श्रृंखला में उगाया जा सकता है, लेकिन यह सबसे अच्छा तब बढ़ता है जब दिन का तापमान 60-70°F के बीच होता है और रात का तापमान 50-60°F के बीच होता है। गेहूँ ठंडे मौसम की फसल है और पाले को सहन कर सकती है, लेकिन यह अत्यधिक गर्मी में उतना अच्छा प्रदर्शन नहीं करेगी।

सूर्य का प्रकाश: गेहूँ को अच्छी तरह से बढ़ने के लिए पूर्ण सूर्य की आवश्यकता होती है। इष्टतम विकास के लिए अच्छी धूप के संपर्क वाली साइट का चयन करना महत्वपूर्ण है।

पोषक तत्व: गेहूं को अच्छी तरह से विकसित होने के लिए नाइट्रोजन, फास्फोरस और पोटेशियम सहित पोषक तत्वों की संतुलित आपूर्ति की आवश्यकता होती है। मृदा परीक्षण यह निर्धारित करने में मदद कर सकता है कि कौन से पोषक तत्वों की आवश्यकता है और कितनी मात्रा में है।

कीट और रोग: गेहूं कीड़ों, कवक और वायरस सहित कई प्रकार के कीटों और बीमारियों के लिए अतिसंवेदनशील है। इन्हें प्रतिरोधी किस्मों, फसल चक्रण और अन्य सांस्कृतिक प्रथाओं के उपयोग के माध्यम से प्रबंधित किया जा सकता है।

इन कारकों पर विचार करके और सही परिस्थितियाँ प्रदान करके, आप यह सुनिश्चित करने में मदद कर सकते हैं कि आपकी गेहूँ की फसल अच्छी तरह से बढ़ती है और अच्छी पैदावार देती है।
        </p>
    </div>
</div>
</section>	
	<%-include('about.ejs')%>


	<%-include('Services.ejs') %>

    

       <%-include('team.ejs')%>


       <%-include('contact.ejs')%>
     
     
       <%-include('includes/footer.ejs')%>
      
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>